# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/

# Log files
*.log



# Other temporary or local files
*.bak
*.swp
*.swo
*.tmp
